.section-1 {
background-color: #0c0938;
height: 100vh;
background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg);

}

.header {
   width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   position: fixed;
   top: 0px;
   
  
    
}
.black-logo{
    display: none;
}

.header-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav a {
    padding: 0 15px ;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
